@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-image: url('/imagenes/fondo_inicio_sesion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh; 
}

a{
    text-decoration: none;
    font-weight: 600;
    color: #143F6B;
}

a:hover{
    text-decoration: none;
    color: #f55353;
}

.form-register {
    width: 500px;
    background-color:#FFFFFF;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: #24303c;
}

.form-register h2 {
    font-size: 26px;
    margin-bottom: 45px;
    text-align: center;
}

.inputs {
    width: 100%;
    background: #C8C8C8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 35px;
    border: 1px solid#C8C8C8;
    font-size: 18px;
}

.bottom {
    text-align:center;
    margin-bottom: 40px;
}

.buttom {
    height: 45px;
    width: 80%;
    margin-bottom: 12px;
    border-radius: 60px;
    border-color: rgba(6,66,249,0.88);
    background-color: rgba(6,66,249,0.88);
    font-weight: 600;
    color: aliceblue;
    cursor: pointer;
    font-size: 15px;
}

.buttomg {
    height: 45px;
    width: 80%;
    margin-bottom: 12px;
    border-radius: 60px;
    background-color: #f55353;
    border-color:#f55353;
    font-weight: 600;
    color: aliceblue;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}

.icon_g {
    height: 17px;
    width: 17px;
    vertical-align: bottom;
}

.buttomf {
    height: 45px;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 60px;
    background-color: #143F6B;
    border-color: #143F6B;
    font-weight: 600;
    color: aliceblue;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}
.icon_f {
    height: 18px;
    width: 18px;
    vertical-align: bottom;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-register a:hover {
    text-decoration: underline;
}